.timeline-date {
    font-family: "montserrat-medium", sans-serif;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.timeline-subheading {
    font-family: "montserrat-medium", sans-serif;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: .1rem;
}

.timeline-description {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);

}

#contact {
    background-color: #2f0f1d;
    display: block;
    margin: auto;
}

.centre-buttons {
    padding-top: 4rem;
    text-align: left;
}

.centre-buttons .btn {
    width: 215px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    /*margin: 4rem 4rem 0 0;*/
    letter-spacing: .25rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.centre-buttons .btn:hover,
.centre-buttons .btn:focus {
    background: #FFFFFF !important;
    color: #000000;
}

.centre {
    margin: 0 auto;
    display: block;
}

.centre .btn--stroke:hover,
.centre .btn--stroke:focus {
    background: #FFFFFF !important;
    color: #000000 !important;
}
.horizontal{
    width: 100%
}

.l-rk {
    width:35%;
    float: left;
    height:auto;
    margin: auto;
}

.r-rk {
    width:65%;
    float: left;
    height:auto;
    margin:auto;
    padding-left: 10%;
}

.gallery-l {
    width:55%;
    float: left;
    height:auto;
    margin: auto;
}

.gallery-l img,
.gallery-r img {
    max-height: 400px;
}
.gallery-r {
    width:40%;
    float: left;
    height:auto;
    margin:auto;
    padding-left: 5%;
}

.suggestions-container {
    width: 100%;
}
div.suggestion {
    float: left;
    height:auto;
    margin: auto;
    padding: 0;
}

.suggestion img {
    height: 300px;
    width:100%;
}

.sticky-nav {
    position:fixed;
    top: 0;
    width:100%;
    background-blend-mode: overlay;
    z-index: 99999;
    padding: 0;
    background-color: black;
    opacity: 0.8;
}

.sticky-nav a{
    float: right;
    display: block;
    color: #FFFFFF;
    text-align:center;
    padding-top: calc(1.5% + 5px);
    padding-left: 10px;
    padding-right: 15px;
    text-decoration: none;
    font-family: "montserrat-medium", sans-serif;
    font-size:1.5rem;
    text-transform: uppercase;
    z-index: 1000000;
}

.sticky-nav .logo{
    padding-left: 2%;
    padding-top: 1%;
    float:left;
    z-index: 1000000;
}

.sticky-nav img {
    max-width: 300px;
    max-height: 50px;
}

p{
    font-family: "montserrat-regular", sans-serif;
}


.gallery-r p,
.gallery-l p {
    color:black;
}

.center-condensed {
    margin: 0 auto;
    width: 75%;
}

#about {
    background: url('../images/profile1.jpg') no-repeat center;
    background-size: cover;
}

#contact{
    background: rgba(0,0,0,0.7) url('../images/b1.jpg') no-repeat center center !important;
    background-size: cover !important;
}

.footer-bottom {
    margin-top: 0;
    font-size: 20px;
}


.btn--stroke-whitebg, button.btn--stroke-whitebg {
    background: transparent !important;
    border: 0.2rem solid #000000;
    color: #000000;
}

.btn--stroke-whitebg:hover, button.btn--stroke-whitebg:hover {
    border: 0.2rem solid #000000;
    color: #FFFFFF !important;
    background: black !important;
}


.details-header {
    font-weight: bold;
    margin-bottom: 0;
    color: black;
    font-size:2rem;
    
}

.details-content {
    color: gray;
    margin-bottom: 1%;
    font-size:2rem;
}

.condenser {
    width:60%;
    margin: 0 auto;
}

.condenser-gallery {
    width: 75%;
    margin: 0 auto;
}

.condenser-overview {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.condenser-text {
    font-size: 2rem;
}

.gallery-section {
    margin-bottom: 4%;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 5%;
}

.overview-left {
    float:left;
    width:20%;
}

.overview-right {
    float:left;
    margin-left: 2%;
    width: 75%;
}

.get-to-know-me {
    background-color: rgba(0, 0, 0, 0.8);
    margin-right: 0;
    float: right;
    width: 75%;
}

.btn-container {
    margin: 0 auto;
    padding-left: 0;
}

.mobile-nav {
    display:none;
    position:fixed;
    top: 0;
    width:100%;
    background-blend-mode: overlay;
    z-index: 99999;
    padding: 0;
    background-color: black;
    opacity: 0.8;
    text-align: center;
}

.mobile-nav-links {
    display:none;
    margin: 0 auto;
    width:100%;
}

.mobile-nav-links, .nav-links {
    padding-right: 2%;
}

.mobile-nav-links a {
    margin: 0 auto;
    width: 100%;
    display:block;
    
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "montserrat-medium", sans-serif;
    font-size:1.5rem;
    text-transform: uppercase;
    z-index: 1000000;
    padding-bottom: 3%;
}

.mobile-nav-icon {
    background:black;
    display:block;
    position: absolute;
    top: 17px;
    right: 5%;
}

.mobile-nav-icon i {
    font-size: 24px;
    color: white
}

.mobile-nav .logo img {
    height: auto;
    max-width: 300px;
    max-height: 50px;
    padding-left: 2%;
    padding-top: 1%;
    
}

.mobile-nav .logo img {
    height: auto;
    max-width: 300px;
    max-height: 50px;
    margin: 0 auto;
}

@media screen and (max-width: 1080px) {
    .overview-left, .overview-right {
        clear:both;
        width: 100%;
    }
    .overview-right {
        margin-left: 0;
    }
    .overview-left {
        margin-bottom: 2%;
    }
    .get-to-know-me {
        clear:both;
        width:100%;
    }
    .gallery-l, .gallery-r {
        clear:both;
        width:100%;
        margin: 0 auto;
    }
    .gallery-l img, .gallery-r img {
        width:90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 5%
    }
    .gallery-l p, .gallery-r p {
        width:95%;
    }
    .condenser, .condenser-overview {
        width:90%;
    }
    .condenser-gallery {
        width:90%;
    }
    .full-masonry {
        padding-left: 0;
        padding-right: 0;
    }
    .full-works {
        margin-left: 0;
        margin-right: 0;
    }
    .home-content__scroll {
        position: absolute;
        left: 50%;
        right:50%;
        bottom: 5%;
        width:100%;
    }
    .sticky-nav a {
        padding-left: 1%;
        padding-right: 1%;
        display: block;
    }
    .nav-logo, .nav-links {
        width:100%;
        
    }
    .nav-links a {
        padding-left: 0.5% !important;
        padding-right:0.5% !important;
    }
    .btn-container {
        padding-right: 0;
    }    
}

@media screen and (max-width: 780px) {
    .sticky-nav {
        display:none;
    }
    
    .mobile-nav {
        display:block;
    }
}

@media screen and (max-width: 550px) {
    .btn {
        clear:both;
        width:90%;
        margin-left:0;
        margin-right:0;
        margin: 0 auto;
        margin-bottom: 5%;
    }
}


.overview-header {
    margin-left: 0;
    color:black;
    font-size: 3.5rem;
}

.overview-text {
    color:black;
    font-size:2rem;
}

ul {
    font-family: "montserrat-regular", sans-serif;
}

.loader-rainbow {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.login-panel {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 1%;
    border-radius: 3.5%;
}

.login-header {
    font-family: "montserrat-medium", sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.login-subtext {
    font-family: "montserrat-medium", sans-serif;
    color: white;
    margin: 0 auto;
}

.login-div-row {
    margin: 0 auto;
    width: 75%;
    height: 15%;
}

.login-div-row-buttons {
    margin: 0 auto;
    width: 40%;
    height: 15%;
}

.login-password {
    color: white !important;
    text-indent: 5%;
    width: 100%;
    float: left;
    height: 75%;
    border: 1px solid red !important;
}

.login-submit {
    margin: 0 auto;
    width:auto;
    height: 100%;
    float: left;
}

.login-cancel {
    margin: 0 auto;
    width:auto;
    height: 100%;
    float:right;
}

.login-submit:hover, .login-cancel:hover,
.login-submit:focus, .login-cancel:focus,
.login-submit:active, .login-cancel:active {
    color: white !important;
    border: 0.2rem solid white;
}

.login-incorrect {
    border: 0.2rem solid red;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.login-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width:100%;
    height: 100%;
    background: #000;
    z-index: 9999;
    display: none;
    background: radial-gradient(#222, #000);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*
.loader-div {
    display: block;
    border: 1px solid red;
}

.loader-text {
    display: block;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    font-family: "montserrat-medium", sans-serif;
}
*/
