

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 40px;
}

.h2{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     font-weight: bold;
     font-size: 70px;
     text-align: left;
     margin-top: 300px;
     color: #3f2a14;
 }

.h3{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: saddlebrown;
    background-blend-mode: overlay;
}
.beer{
    width: 100%;
    height: 340px;
    background-image: url("../assets/beer.gif");
}
#nav {
    position: absolute;
    margin-top: 50px;
    margin-left: 500px;
    display: block;
}

.button {
    background-color:#3f2a14;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-size: 16px;
    margin: 10px;
}

.button:active {
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-size: 16px;
    margin: 10px;
}

.button a{
    color: white;
    text-decoration: none;
}

.topnav {
    overflow: hidden;
    background-color: #3f2a14;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: orange;
    color: black;
}

.topnav .icon {
    display: none;
}

.thermo{

    position:absolute;
    margin-top: 95px;
    margin-left: 50px;
    height: 500px;
    width: 500px;

}

.viz{
    margin-top: 30px;
    margin-left: 250px;
    border-color:black;
    border-width:5px;
    border-style: solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    height: 400px;
    width: 400px;
    float: left;
    position: absolute;
    opacity: 100%;

}

.viz2{
    margin-top: 30px;
    margin-left: 270px;
    border-color: #52371a;
    border-width: 20px;
    border-bottom-width: 50px;
    border-style: solid;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    height: 400px;
    width: 350px;
    float: left;
    position: absolute;
    opacity: 100%;

}

.wort {
    position:absolute;
    margin-top: 250px;
    margin-left: 290px;
    width: 350px;
    height: 200px;
    opacity: 0.8;
    background-color: #cb8100;
}

.malt {
    margin-top: 30px;
    margin-left: 30px;
    height: 400px;
    width: 600px;
    float: left;
    position: absolute;
    opacity: 100%;

}

.kiln {
    margin-top: 80px;
    margin-left: 250px;
    background-color: #3f2a14;
    height: 150px;
    width: 150px;
    float: left;
    position: absolute;
    opacity: 100%;

}

.mill {
    margin-top: 245px;
    margin-left: 250px;
    background-color: #3f2a14;
    height: 150px;
    width: 150px;
    float: left;
    position: absolute;
    opacity: 100%;

}

.bottling1 {
    margin-top: 50px;
    margin-left: 50px;
    height: 152px;
    width: 2000px;
    float: left;
    position: absolute;
    opacity: 100%;

}

.bottling2 {
    margin-top: 170px;
    margin-left: 1150px;
    height: 180px;
    width: 190px;
    float: left;
    position: absolute;
    opacity: 100%;
    border-style: solid;
    border-color: #999999;
    border-width: 1px;

}

.text{
    margin-top: 50px;
    margin-left: 750px;
    height: 450px;
    width: 600px;
}

.text1{
    margin-top: 50px;
    margin-left: 0px;
    width: 250px;
}

.text2{
    margin-top: 50px;
    margin-left: 0px;
    width: 250px;
}
.text3{
    margin-top: 110px;
    margin-left: 550px;
    height: 390px;
    width: 500px;
}
.column {
    flex: 50%;
    padding-right: 10px;
    padding-left: 0px;
}

.text p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 19px;
}

.text3 p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 19px;
}

.text p a {
    text-decoration-line: underline;
    color: darkorange;
    font-weight: bold;
}

.text p a:hover {
    color: lightseagreen;
}

.row {
    width: 100%;
    margin:auto;
    display: flex;
}

.partdiv1{
    position:absolute;
    margin-top: 130px;
    margin-left: 250px;
    opacity: 0;

}
.partdiv2{
    position:absolute;
    margin-top: 130px;
    margin-left: 250px;

}

.partdiv3{
    position:absolute;
    margin-top: 280px;
    margin-left: 250px;
    opacity: 0;

}

.partdiv4{
    position:absolute;
    margin-top: 280px;
    margin-left: 250px;

}

.partdiv5{
    position:absolute;
    margin-top: 280px;
    margin-left: 250px;

}

.partdiv6{
    position: absolute;
    margin-top: 250px;
    margin-left: 270px;
}

.partdiv7{
    position:absolute;
    margin-top: 250px;
    margin-left: 270px;
    opacity: 0;

}

.clock {
    position:absolute;
    margin-top: 30px;
    margin-left: 50px;
    height: 500px;
    width: 400px;
}

#rim {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
}

.second-hand{
    stroke-width:3;

}

.minute-hand{
    stroke-width:6;
    stroke-linecap:round;
}

.hour-hand{
    stroke-width:8;
    stroke-linecap:round;
}

.hands-cover{
    stroke-width:3;
    fill:#fff;
}

.second-tick{
    stroke-width:3;
    fill:#000;
}

.hour-tick{
    stroke-width:8; //same as the miute hand
}

.second-label{
    font-size: 10px;
}

.hour-label{
    font-size: 24px;
}

svg{
    stroke: #000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.axis {
    font: 12px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.2px;
    cursor: ns-resize;
}

.odometer {
    font-size: 50px;
}

.ododiv {
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
}

#odometer1 {
    opacity: 0;
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
}

#odometer2 {
    opacity: 0;
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
}

.bottle1 {
    background-image: url("../assets/aa.png");
    position: absolute;
    margin-left: 2px;
    margin-top: 30px;
    height: 150px;
    width: 180px;
    opacity: 0;
}

.bottle2 {
    background-image: url("../assets/bb.png");
    position: absolute;
    margin-left: 2px;
    margin-top: 30px;
    height: 150px;
    width: 180px;
    opacity: 0;
}

.bottle3 {
    background-image: url("../assets/cc.png");
    position: absolute;
    margin-left: 2px;
    margin-top: 30px;
    height: 150px;
    width: 180px;
    opacity: 0;
}

#aleferment {
    position: absolute;
    opacity: 0;
    width: 600px;
}


#lagerferment {
    position: absolute;
    opacity: 0;
    width: 600px;
}

#days {
    opacity: 0;
    margin-top: 55px;
    margin-left: 165px;
    position: absolute;
    font-size: 25px;
}